/* DatePicker.css */
.react-datepicker-wrapper {
    z-index: 1000; /* Ensure the date picker is above other elements */
  }
  
  .react-datepicker {
    background-color: white; /* Change the background color of the date picker modal */
  }
  
  .react-datepicker__header {
    background-color: #3498db; /* Change the background color of the date picker header */
    color: white; /* Change the text color of the date picker header */
  }